@model IEnumerable<ASP.NETCoreEmptyProject.Models.CityModel>


@{
    ViewData["Title"] = "People";
}
<div class="text-center">
    <h3>People and Cities</h3>
</div>

<a asp-action="CreateCity">Create</a>

<div class="container">

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Person</th>
                    <th>City ID</th>
                    <th>City</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                 {
                <tr>
                    <td>
                        @foreach (var c in item.People)
                        {
                            @c.Name
                        }
                    </td>
                    <td>@item.CityId</td>
                    <td>@item.CityName</td>
                    <td> @Html.ActionLink("Edit", "EditCity", new { cityid = @item.CityId }) | @Html.ActionLink("Delete", "DeleteCity", new { cityid = @item.CityId }) </td>
                </tr>
                 }

            </tbody>
        </table>

    </div>
</div>
