@model List<ASP.NETCoreEmptyProject.Models.LanguageModel>

@{
    ViewData["Title"] = "Language";
}
<div class="text-center">
    <h3>Languages and People</h3>
</div>

<a class="btn btn-primary" asp-action="CreateNewLanguage">Add Language</a>

<div class="container">
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Language ID</th>
                    <th>Language</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                 {   <tr>
                        <td>@item.LanguageId</td>
                        <td>@item.Language</td>
                        <td> @Html.ActionLink("Delete", "DeleteLanguage", new { langid = @item.LanguageId }) </td>
                     </tr>
                 }
            </tbody>
        </table>

    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Person ID</th>
                    <th>Language</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                 {
                    @foreach (var p in item.PeopleLanguages)
                     {
                        <tr>
                            <td>@p.PersonId</td>
                            <td>@p.language.Language</td>
                        </tr>
                     }

                 }
            </tbody>
        </table>

    </div>
</div>

